altair<5
attrs
blinker
cachetools
certifi
charset-normalizer
click
colour
contourpy
cycler
dtreeviz
et-xmlfile
fonttools
gitdb
GitPython
graphviz
idna
imbalanced-learn
iniconfig
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
openpyxl
pillow
pluggy
protobuf==3.20.*
pyarrow
pydeck
pydotplus
pyparsing
pytest
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
smmap
streamlit
tenacity
threadpoolctl
toml
toolz
typing_extensions
urllib3
watchdog
wheel
